ptsrc/lib/pt/*
ptsrc/bin/
ptsrc/bin
ptsrc/cmd/ptc
ptsrc/coderlinux/coder.out
ptsrc/coderlinux/coder.sst
ptsrc/ptam/ptam.out
ptsrc/ptam/ptam.sst
ptsrc/ptruntimelinux/ptruntime.o
ptsrc/semantic/semantic.out
ptsrc/semantic/semantic.sst
ptsrc/semantic/**.def.diffs
ptsrc/parser/*.out
ptsrc/parser/*.sst
ptsrc/parser/*.def.diffs

tests/**/TestResults
tests/**/*.rese
tests/**/*.resi
tests/**/*.res
tests/**/*.resr
tests/**/*.resm
tests/**/*.res1
tests/**/*.res2
tests/**/*.res3
tests/**/*.res1complete
tests/**/*.res2complete
tests/**/*.res3complete



# vscode
.vscode
